* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#copyright {
  color: #000;
  text-align: center;
  position: relative;
  bottom: 20px;
  font-weight: 400;
  font-family: "Roboto Black", "Arial Bold", sans-serif;
}
.nav_bar {
  display: flex;
  align-items: center;
  background: #000;
  height: 70px;
  width: 100%;
  /* justify-content: space-between; */
  padding: 10px 5%;
}

.logo {
  margin-left: -40px;
  padding: 0;
  height: 40px;
}

.main_title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.nav_bar .main_title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0cm;
}
.intro {
  width: 100%;
  height: 100vh;
  background-image: url(./items/circuit_tree.jpg);
  background-size: cover;
}

.inner_intro {
  position: absolute;
  top: 200px;
  left: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.intro_title {
  padding: 15px;
  font-size: 35px;
  font-family: "Roboto Black", "Arial Bold", sans-serif;
}
.intro_title span {
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}

.intro_paragraph {
  font-size: 30px;

  font-family: "Roboto Black", "Arial Bold", sans-serif;
  padding: 17px;
}
.arrow_1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 3;
  padding: 0 10px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  line-height: 0;
  transform: translatex(-50%);
  font-size: 100px;
  color: red;
  /* transition: all 0.4s; */
  transition-behavior: normal;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  /* transform: rotateZ(45deg); */
}
.arrow_1:after {
  content: "";
  position: absolute;
  top: -3.2em;
  left: -3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
  /* -webkit-transform: rotate(360deg); */
}

.arrow_1:hover {
  color: #000;
}
.about {
  margin-top: 50px;
  height: 100vh;
  width: 100%;
  display: flexbox;
}
.about div h1 {
  /* position: relative; */
  text-align: center;
  font-weight: 800;
  font-size: 46px;
  margin-bottom: 15px;
  color: red;
  font-family: "Anton", "Arial Bold", sans-serif;
}
.laptop_gif {
  /* margin-top: px; */
  margin: 5px 10%;
  border: 10px solid;
  border-color: #000;
  position: relative;
  top: 1px;
}
.inner_about {
  display: flex;
}
.about p {
  /* overflow: hidden; */
  /* overflow: hidden; */
  display: inline;
  width: 50%;
  position: relative;
  top: 50px;
  right: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: start;
  font-family: "Roboto Black", "Arial Bold", sans-serif;
}

.inner_about {
  background: red;
}
* {
  box-sizing: border-box;
  font-family: Arial;
  font-weight: bold;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  /* height: 20vh; */
}
.skill-container {
  width: 100%;
  background: #ddd;
}
.skill {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.container {
  position: relative;
  margin-bottom: 100px;
  bottom: 100px;
}
.container h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: red;
}
.html {
  width: 90%;
  background-color: red;
}
.css {
  width: 80%;
  background-color: red;
}
.js {
  width: 65%;
  background-color: red;
}
.java {
  width: 70%;
  background-color: red;
}
@media only screen and (max-width: 760px) {
  .container {
    width: 96%;
  }
}
.educations h2 {
  text-align: center;
  position: relative;
  bottom: 150px;
  color: red;
  font-size: 30px;
  font-family: "Roboto Black", "Arial Bold", sans-serif;
}
.educations ul {
  position: relative;
  text-align: center;
  bottom: 100px;
}

.educations ul li a {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 25px;
}
.educations ul li a:hover {
  color: red;
}
.footer_contacts {
  padding: 10px 100px;
}
.footer_contacts h2 {
  margin-bottom: 30px;
  color: #000;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  top: 10px;
  /* left: 30px; */
  /* text-decoration: 5px underline;
  text-decoration-color: red; */
}
.footer_contacts a ion-icon:hover {
  color: red;
  transition: 0.5;
}
.footer_contacts a ion-icon {
  color: #000;
  font-size: 35px;
  margin-right: 15px;
}
html {
  scroll-behavior: smooth;
}
hr {
  border: 4px red solid;
  width: 100%;
  /* display: inline;
  text-align: right; */
}
body {
  color: #fff;
  background-color: #000;
  /* width: 100%;
  height: auto; */
}

a {
  text-decoration: none;
}
nav {
  font-family: "Roboto Black", "Arial Bold", sans-serif;
  font-weight: 700;
}
nav ul {
  display: flex;
  position: relative;
  left: 600px;
}
nav ul li {
  margin-right: 40px;
  list-style: none;
}

nav ul li a {
  font-size: larger;
  color: #fff;
}
a:hover {
  color: red;
  transition: 0.3s;
}

footer {
  background-color: #fff;
  background-size: 100vh;
  width: 100%;
}

::selection {
  background-color: red;
  color: #000;
}
@media screen {
}
